<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <header>
    <h3>
      <a href="{{ site.baseurl }}">{{ site.title }}</a>
      <!-- <small>{{ site.tagline }}</small> -->
      <small>
        <a href="{{ site.baseurl }}about/">درباره</a>
        <a href="{{ site.baseurl }}archive/">بایگانی</a>
      </small>
    </h3>
  </header>

  {{ content }}

  <footer>
    <a href="https://plus.google.com/+BehrangNoruziNiya?rel=author">+BehrangNoruziNiya</a>
  </footer>

  {% include google_analytics.html %}

  <script type="text/javascript">
    {% include jalaali.js %}
  </script>

</body>
</html>
